@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500;700&family=Open+Sans:ital@1&family=Poppins&family=Roboto:wght@700&family=Tiro+Devanagari+Marathi:ital@1&display=swap");

/* === Custom Properties === */

:root {
  --primary-color: #fff;
  --secondary-color: #ff6b00;
  --background-color: #1c1a19;
}

/* === Css Resets === */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  font-family: "Inter", sans-serif;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 7px 12px;
}

/* === Utility clases === */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.special {
  background-color: var(--secondary-color);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-block: 24px;
  outline: none;
  border: none;
}

/* === Navigation Bar === */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  padding: 1em 2em;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.harmburger {
  flex-direction: column;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.line {
  background-color: #e5e5e5;
  height: 1px;
  width: 16px;
  border: 1px solid #acb7c3;
}

.nav-menu {
  display: none;
}

@media screen and (min-width: 764px) {
  header {
    padding-inline: 80px 100px;
  }

  .logo {
    font-size: 20px;
  }

  .nav-menu {
    display: flex;
    gap: 2rem;
  }

  .harmburger,
  .line {
    display: none;
  }
}

/* === Headline section === */
.headline {
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
  position: relative;
  padding: 1em;
  overflow: hidden;
}

.i-image {
  background: url("asset/Group.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 450px;
  position: absolute;
  right: -16.4rem;
  bottom: -3.5rem;
}

.headline h1 {
  font-family: "Crete Round", sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 56px;
  width: 11ch;
  line-height: 64px;
}

.headline h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.headline-details {
  width: 327px;
  height: 123px;
}

.lead {
  font-size: 16px;
  line-height: 24px;
}

.icons {
  gap: 16px;
  margin-top: 1rem;
  height: 20px;
}

.i {
  flex-direction: column;
  gap: 1px;
}

@media screen and (min-width: 768px) {
  .headline {
    padding-left: 1.5em;
    gap: 1rem;
  }

  .i-image {
    width: 400px;
    height: 90%;
    right: -1.8rem;
    bottom: -2rem;
  }

  .headline h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .headline-details {
    width: 460px;
  }

  .lead {
    font-size: 18px;
    line-height: 2rem;
  }
  .icons {
    gap: 16px;
    height: 20px;
    left: 2rem;
    bottom: 60%;
    /* transform: translateY(-50%); */
  }
}

@media screen and (min-width: 1000px) {
  .headline {
    padding-left: 110px;
  }

  .i-image {
    width: 420px;
    height: 100%;
    right: 0;
    bottom: -4rem;
  }

  .headline h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
  }

  .headline-details {
    width: 566px;
  }

  .lead {
    font-size: 20px;
    line-height: 2rem;
  }
  .icons {
    flex-direction: column;
    position: absolute;
    gap: 16px;
    height: 20px;
    left: 2rem;
    bottom: 60%;
    /* transform: translateY(-50%); */
  }
}

/* === Work Section === */
.caption {
  font-family: "Crete Round", sans-serif;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.caption h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  width: 327px;
  height: 83px;
  margin: 120px 24px 104px 24px;
}

.caption h2::after {
  content: "";
  width: 100%;
  border: 1px solid #21212167;
  position: absolute;
  bottom: 0;
  left: 0;
}

.work-section {
  color: black;
  width: 100%;
}

.cards {
  place-content: center;
  width: 100%;
}

.card-details {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-details img {
  width: 327px;
  height: 240px;
}

.card-content {
  width: 327px;
}

.card-content p {
  margin-block: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-content h3 {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
}

.work-cards {
  place-content: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
.work-cards .card-details {
  position: relative;
  color: rgba(255, 255, 255, 0.815);
}
.work-cards .card-details img {
  height: 327px;
  width: 327px;
}
.work-cards .card-content h3 {
  color: var(--primary-color);
}

.work-cards .card-content {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  padding: 0.5em;
}
.work-cards .special {
  width: 100%;
  margin-block: 0 24px;
}
.btn-group {
  gap: 1rem;
  align-items: center;
}
@media screen and (min-width: 764px) {
  .caption {
    font-family: "Crete Round", sans-serif;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-left: 2rem;
  }

  .caption h2 {
    min-width: 327px;
    height: 83px;
  }

  .caption h2::after {
    bottom: 65%;
    left: 100%;
    width: 800px;
  }

  .feature {
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
  }

  .feature img {
    height: 340px;
    width: 400px;
  }
  .work-cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-inline: 2em;
  }
  .work-cards .card-details img {
    height: 350px;
    width: 350px;
  }

  .work-cards .card-content {
    position: absolute;
    top: 4.2rem;
    left: 2rem;
    padding: 0.5em;
  }
  .work-cards .web {
    top: 7rem;
  }

  .work-cards .special {
    width: 350px;
    margin-block: 0 24px;
  }
}

/* === About-me Section === */
.about-me {
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

.about-me-content {
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.about-me-content .about-info h2 {
  margin: 120px 0 24px 0;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: var(--secondary-color);
}

.about-me-content .about-info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 24px;
  width: 327px;
  height: 148px;
}

.about-info .special {
  width: 161px;
  height: 48px;
  align-self: flex-start;
  margin-bottom: 245px;
}

.illustration {
  position: absolute;
  background-image: url("asset/bottomillus.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -30rem;
  width: 700px;
  height: 700px;
  bottom: 58%;
}

.portfolio {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-block: 132px;
}

.skill-head {
  align-items: center;
  gap: 1rem;
}

.skill-head h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-block: 44px;
}

.info li {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.square {
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
  transform: rotate(45deg);
}

.n-square {
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
}

.circle {
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .about-me-content {
    flex-direction: row;
  }

  .illustration {
    position: relative;
    right: -15rem;
    width: 500px;
    height: 700px;
    bottom: -9rem;
  }

  .about-info {
    width: 566px;
    padding-inline-start: 140px;
  }
  .about-me-content .about-info p {
    line-height: 24px;
    color: #f4f5f7;
    margin-bottom: 0;
    width: 450px;
    height: auto;
  }

  .portfolio {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }

  .skill-head {
    justify-content: center;
  }

  .portfolio .info {
    width: 100%;
  }
}

/* === Contact Section === */
.contact {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
}

.contact .parag {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 327px;
  line-height: 44px;
  font-size: 32px;
  text-align: center;
  color: var(--background-color);
  margin-bottom: 73px;
}

.contact form {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 327px;
  font-family: "Inter", sans-serif;
}

form input,
form textarea {
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
}

.input-row {
  flex-direction: column;
  width: 100%;
}

form [name="Lname"] {
  display: none;
}

form input {
  border-bottom: 1px solid #dbd8d7;
}

form input:valid,
form textarea:valid {
  border-bottom: 1px solid rgba(5, 197, 5, 0.596);
}

form input:invalid,
form textarea:invalid {
  border-bottom: 1px solid rgba(228, 75, 29, 0.596);
}

form textarea {
  background-color: #fbf8f7;
  height: 114px;
}

form input:focus,
form textarea:focus {
  border: 2px solid rgb(240, 95, 119);
}

form input::placeholder,
form textarea::placeholder {
  font-size: 1rem;
  color: #979493;
  font-family: inherit;
}

form button {
  height: 48px;
  width: 131px;
}

@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
    padding: 70px 142px 0 142px;
  }

  .contact p {
    width: 455px;
    text-align: initial;
  }

  .contact form {
    width: 660px;
    align-items: flex-start;
  }

  form button {
    justify-self: flex-start;
  }

  .input-row {
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  form [name="Lname"] {
    display: block;
  }
}
/* === Footer Section === */
footer {
  margin-top: 164px;
}

.footer {
  background: url("asset/Bottom\ Naviagation.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 4.5rem 0;
  width: 100%;
  height: 4rem;
}

@media screen and (min-width: 768px) {
  footer {
    margin-top: 80px;
  }

  .footer {
    background: url("asset/Bottom\ Naviagation.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
  }
}
